* {

}

.left {
    float: left;
    position: fixed;
    width: 40%;
    height: 98vh;
    margin-left: auto;
}

.right {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 55%;
    height: 98vh;
}

/* Control section on left */

.button {
    font-family: sans-serif;
}

.header {
   height: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Love Ya Like A Sister', cursive;
   font-size: 35px;
   margin-bottom: 5%;
}

.header h1 {
   height: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Love Ya Like A Sister', cursive;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   transition: all .3s ease-in-out;
}

.header h1:hover {
   color: orange;
   -moz-text-shadow: 8px 8px 12px #ccc;
   -webkit-text-shadow: 8px 8px 12px #ccc;
   text-shadow: 8px 8px 12px #ccc;
}

#userInput {
   display: flex;
   height: 15%;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin: 0 auto 10% auto;
}

#userInput input {
    height: 40px;
    width: 65%;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    padding-left: 5px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 17px;
}

#userInput input:hover {
    -moz-box-shadow:  2px 3px 5px 6px #ccc;
    -webkit-box-shadow: 2px 3px 5px 6px #ccc;
    box-shadow:         2px 3px 5px 6px #ccc;
    width: 70%;
}

#goBtn {
    height: 45px;
    background-color: wheat;
    border:none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    width: 10%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
}

#goBtn:hover {
    -moz-box-shadow:  2px 3px 5px 6px #ccc;
    -webkit-box-shadow: 2px 3px 5px 6px #ccc;
    box-shadow:         2px 3px 5px 6px #ccc;
    width: 15%;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.btns button {
    background-color: wheat;
    background-color: wheat;
    border:none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 20px;
}

.btns button:hover {
    -moz-box-shadow:  2px 3px 5px 6px #ccc;
    -webkit-box-shadow: 2px 3px 5px 6px #ccc;
    box-shadow:         2px 3px 5px 6px #ccc;
    width: 110%;
}

.btns h3 {
    text-align: center;
    text-decoration: underline dotted;
    text-decoration-thickness: 1px;
    font-family: 'Love Ya Like A Sister', cursive;
    transition: all .3s ease-in-out;
    font-size: 25px;
}

.btns h3:hover {
    color: orange;
   -moz-text-shadow: 8px 8px 12px #ccc;
   -webkit-text-shadow: 8px 8px 12px #ccc;
   text-shadow: 8px 8px 12px #ccc;
}

/* Grid section on right */

#container {
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(16,2fr);
    grid-template-rows: repeat(16,2fr);
    justify-items: stretch;
    align-items: center;
    border: 5px solid black;
    border-radius: 5px;
    width: 900px;
    height: 90vh;
    box-shadow: 1px 4px 37px 5px;
}

.square {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    background-color:honeydew;
    border-style: dotted;
    border-radius: 2px;   
}

.square:hover {
    background-color: blue;
}